header .masbel-titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: FontQuick;
  color: black; }

header .logo-carrito-buscador {
  background-image: url();
  background-size: 6%;
  display: flex;
  justify-content: space-between;
  align-items: center; }

header .logo-masbel {
  display: flex;
  max-width: 50%;
  border-radius: 50%; }

header .buscador {
  display: flex;
  font-family: FontQuick;
  margin-right: 10%;
  width: 100%; }

header .carrito-imagen {
  display: flex; }

header .menu {
  border-top: 5px solid #8c8cf2;
  border-bottom: 5px solid #8c8cf2;
  display: flex;
  justify-content: center;
  font-family: FontQuick;
  font-size: 115%; }
