header{
    background-image: url(imagenes/Fondo\ Masbel.jpg);
    background-size: 6%;
}

body{
    background-color: hsl(20, 50%, 80%);
}

.masbel-titulo{
    display: flex;
    justify-content: center;
}

.logo-masbel{
    width: 10%;
    display: flex;
}

.carrito{
    display: flex;
    position: absolute;
    top: 9%;
    right: 5%;
}

.buscador{
    display: flex;
    position: absolute;
    top: 11%;
    right: 47%;
}

.menu{
    border-top: 5px solid hsl(240,80%,75%);
}

.contacto{
    border-right: 5px solid hsl(240,80%,75%);
    border-bottom: 5px solid hsl(240,80%,75%);
    border-left:  5px solid hsl(240,80%,75%);
    display: flex;
    justify-content: center;
}

footer{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: hsl(230,90%,75%);
    margin-top: 5%;
}

.whatsapp-imagen{
    width: 4%;
}

.insta-imagen{
    width: 4%;
}

.facebook-imagen{
    width: 4%;
}

.gmail-imagen{
    width: 4%;
}

.imgs{
    width: 10%;
}

.primera-fila{
    display: flex;
    justify-content: space-evenly;
    margin-top: 5%;
}

.segunda-fila{
    display: flex;
    justify-content: space-evenly;
    margin-top: 5%;
}