@font-face {
    font-family: FontQuick;
    src: url(Quicksand/static/Quicksand-Bold.ttf);
}


header{
    background-image: url(imagenes/Fondo\ Masbel.jpg);
    background-size: 6%;
}

body{
    background-color: hsl(20, 50%, 80%);
}

.masbel-titulo{
    display: flex;
    justify-content: center;
    font-family: FontQuick;
}

.logo-masbel{
    width: 10%;
    border-radius: 75%;
}

.buscador{
    font-size: 200%;
}

.menu{
    border: 5px solid hsl(240,80%,75%);
    display: flex;
    justify-content: center;
    font-family: FontQuick;
}


.masvendidos{
    display: flex;
    justify-content: center;
    border-right: 5px solid hsl(240,80%,75%);
    border-left: 5px solid hsl(240,80%,75%);
    font-family: FontQuick;
}

.iconos{
    display: flex;
    justify-content: space-evenly;
    border-right: 5px solid hsl(240,80%,75%);
    border-bottom: 5px solid hsl(240,80%,75%);
    border-left: 5px solid hsl(240,80%,75%);
    margin-top: 5%;
    margin-bottom: 5%;
}

.bidon-imagen:hover{
    transform: scale(1.5);
}

.bidon-imagen{
    transition: all 1s;
}

.tabla{
    border-right: 5px solid hsl(240,80%,75%);
    border-bottom: 5px solid hsl(240,80%,75%);
    border-left: 5px solid hsl(240,80%,75%);
    display: flex;
    justify-content: center;
    font-size: 150%;
    font-family: FontQuick;
}

.horarios{
    display: flex;
    justify-content: center;
    border-right: 5px solid hsl(240,80%,75%);
    border-top: 5px solid hsl(240,80%,75%);
    border-left: 5px solid hsl(240,80%,75%);
    font-family: FontQuick;
}

.contacto{
    border-right: 5px solid hsl(240,80%,75%);
    border-bottom: 5px solid hsl(240,80%,75%);
    border-left:  5px solid hsl(240,80%,75%);
    display: flex;
    justify-content: center;
    font-family: FontQuick;
}

footer{
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-around;
    background-color: hsl(230,90%,75%);
}

.whatsapp-imagen{
    width: 4%;
}

.insta-imagen{
    width: 4%;
}

.facebook-imagen{
    width: 4%;
}

.gmail-imagen{
    width: 4%;
}

.menu-conoce{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    border-right: 5px solid hsl(240,80%,75%);
    border-bottom: 5px solid hsl(240,80%,75%);
    border-left: 5px solid hsl(240,80%,75%);
    padding-top: 5%;
    padding-bottom: 5%;
    }
    
    .div1 { grid-area: 1 / 1 / 3 / 2; 
        display:flex;
        align-items: center;
    }
    .div2 { grid-area: 1 / 2 / 2 / 3; 
        display:flex;
        align-items: center;
    }
    .div3 { grid-area: 1 / 3 / 2 / 4; 
        display:flex;
        align-items: center;
    }
    .div4 { grid-area: 2 / 3 / 3 / 4; 
        display:flex;
        align-items: center;
    }
    .div5 { grid-area: 2 / 2 / 3 / 3; 
        display:flex;
        align-items: center;
    }

    .conocetamaño{
        width: 100%;
    }

    .hoteleriatamaño{
        width: 100%;
    }

    .gastronomiatamaño{
        width: 100%;
    }

    .lavanderiatamaño{
        width: 100%;
    }

    .edificiostamaño{
        width: 100%;
    }

.conocetitulo{
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 5px solid hsl(240,80%,75%);
    border-top: 5px solid hsl(240,80%,75%);
    border-left: 5px solid hsl(240,80%,75%);
    font-family: FontQuick;
}

.titulotrabajamos{
    position: relative;
    right: 64%;
    bottom: -17%;
    font-size: 250%;
    font-family: FontQuick;
    color: white;
}

.titulohoteleria{
    position: relative;
    right: 62%;
    bottom: -45%;
    font-size: 200%;
    font-family: FontQuick;
    color: white;
}

.titulogastronomia{
    position: relative;
    right: 62%;
    bottom: -45%;
    font-size: 200%;
    font-family: FontQuick;
    color: white;
}

.titulolavanderia{
    position: relative;
    right: 62%;
    bottom: -45%;
    font-size: 200%;
    font-family: FontQuick;
    color: white;
}

.tituloedificios{
    position: relative;
    right: 62%;
    bottom: -33%;
    font-size: 200%;
    font-family: FontQuick;
    color: white;e
}